
  @import url("https://use.typekit.net/hwf0dil.css");
*{
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes zoom {
 0%{background-size: 100%}
 50%{background-size: 200%}
 100%{background-size: 100%}
}
.App {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  /* animation: zoom 70s infinite ease-in-out!important; */
}

.copyright-container{
  position: absolute;
  text-align: left;
  bottom: 20px;
  left: 40px;
}
.copyright-container h1{
  color: white;
  font-size: 24px;
}

.copyright-container h2{
  color: white;
  font-size: 18px;
}

.clock-container{
  position: absolute;
  top: 60px;
  right: 90px;
  color: white;
  text-align: right;
}

.clock-container h1{
  font-size: 4.8rem;
  margin: 0 0;
}
.clock-container h2{
  font-size: 2.4rem;
  margin: 0 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
